<p id="notice"><%= notice %></p>

<h1>Store Details</h1>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.street %> <br>
  <%= @store.city %>, <%= @store.state %> <%= @store.zip %>
</p>

<p>
  <strong>Current Employees:</strong>
  <% @current_employees.each do |employee| %>
    <%= employee.name %>
  <% end %>
</p>

<p>
  <strong>Active:</strong>
  <% if @store.active %>
 	Yes
  <% else %>
 	No
  <% end %>
</p>



<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
