<p>
  <%= link_to "Home", home_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to "About", about_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to "Contact", contact_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <%= link_to "Privacy", privacy_path %>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />Webmaster: <%= mail_to "mgruber1@andrew.cmu.edu", "Matt Gruber", :encode => "javascript" %>
    &nbsp;&nbsp;Copyright 2016
  <br /><br />
</div>